@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root,
:root.light {
  --primary-blue: #0079ff;
  --primary-blue-hover: #60abff;
  --primary-text: #4b6a9b;
  --primary-text-neutral: #697c9a;
  --primary-text-bold: #2b3442;
  --primary-background: #f6f8ff;
  --primary-background-light: #fefefe;
  --primary-text-error: #f74646;
  --primary-filter: brightness(100%);
  --mode-text: "DARK ";
  --mode-image: url("/assets/icon-moon.svg");
  --hover-mode: #222731;
  --primary-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  --mask-colour: #4b6a9b;
  --button: #ffffff;
  --search-bar: #222731;
}

:root.dark {
  --primary-blue: #0079ff;
  --primary-blue-hover: #60abff;
  --primary-text: #ffffff;
  --primary-text-neutral: #ffffff;
  --primary-text-bold: #ffffff;
  --primary-background: #141d2f;
  --primary-background-light: #1e2a47;
  --primary-text-error: #f74646;
  --primary-filter: initial;
  --mode-text: "LIGHT ";
  --mode-image: url("/assets/icon-sun.svg");
  --hover-mode: #90a4d4;
  --primary-box-shadow: 0;
  --mask-colour: #f3eaea;
  --button: #ffffff;
  --search-bar: ##ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--primary-background);
  color: var(--primary-text);
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  line-height: 25px;
  position: relative;
}

.wrapper {
  max-width: 1920px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 730px;
}

/************* Change of Theme ******************/

.color-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-light {
  background-repeat: no-repeat;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.color-light::after {
  content: var(--mode-text);
  margin-right: 10px;
}

.color-light:hover {
  cursor: pointer;
  color: var(--hover-mode);
}

/************* Change of Theme ******************/

/************* Header  ******************/

header {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 730px;
}

.logo {
  color: var(--primary-text-bold);
}

.mode-picture img {
  width: 20px;
}

.mode-picture {
  background-color: var(--mask-colour);
  -webkit-mask: var(--mode-image) no-repeat center;
  mask: var(--mode-image) no-repeat center;
  transition: background-color 0.5s;
}

.mode-picture:hover {
  color: var(--mask-colour);
}

/************* Header  ******************/

/************* Search GitHUb  ******************/

.search-gitHub {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  background-color: var(--primary-background-light);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: var(--primary-box-shadow);
  cursor: pointer;
}

.search-input {
  width: 80%;
  padding: 2px;
  padding-left: 2px;
  padding-left: 45px;
  margin: 22px;
  border: 0;
  outline: 0;
  font-family: "Space Mono";
  font-size: 18px;
  line-height: 25px;
  color: var(--primary-text-bold);
  background-color: var(--primary-background-light);
  background-image: url("/assets/icon-search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-btn {
  font-weight: 700;
  size: 1rem;
  margin-right: 1%;
  background-color: var(--primary-blue);
  color: var(--button);
  width: 6.625rem;
  padding: 13px 24px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: var(--primary-blue-hover);
}
.no-result {
  display: none;
  width: 25%;
  color: var(--primary-text-error);
  font-size: 15px;
  font-style: bold;
}

.visible {
  display: flex;
}

/************* Search GitHUb  ******************/

/************* User Card  ******************/

.card {
  padding: 48px;
  background-color: var(--primary-background-light);
  box-shadow: var(--primary-box-shadow);
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 100%;
  max-width: 730px;
  border-radius: 15px;
}

.user-container-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 10px;
}

.avatar {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background-size: 100% 100%;
}

.avatar img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.name-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.name {
  margin-top: 7%;
  font-size: 1.625rem;
  font-weight: 700;
  color: var(--primary-text-bold);
}

.date {
  margin-top: 7%;
  font-size: 0.938rem;
  font-weight: 400;
}

.username {
  color: var(--primary-blue);
  font-size: 1rem;
  padding-bottom: 2%;
}

.stats {
  padding: 10px 10px 10px 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-background);
  margin-left: 140px;
  border-radius: 10px;
}

.repository,
.follower,
.following {
  font-weight: 700;
  font-size: 1.375rem;
  color: var(--primary-text-bold);
}

.biography {
  margin-top: 4%;
  margin-bottom: 7%;
  font-size: 0.938rem;
  width: 100%;
  max-width: 480px;
  opacity: 0.75;
}

.links {
  margin-left: 100px;
  display: flex;
}

.links > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  width: 50%;
  margin-left: 5%;
  font-size: 0.9rem;
  font-weight: 400;
}

.links > div div {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  width: 100%;
  font-size: 0.938rem;
  font-weight: 400;
  color: var(--primary-text);
  text-decoration: none;
}

.links > div div img {
  margin-right: 10%;
  height: 20px;
  color: var(--button);
}

.blog {
  text-decoration: none;
  color: var(--primary-text);
}

.blog:hover {
  text-decoration: underline;
}

.not-available {
  opacity: 0.5;
}

.twitter {
  opacity: 0.5;
}

.company {
  text-decoration: none;
  color: var(--primary-text);
}

.company:hover {
  text-decoration: underline;
  color: var(--primary-text);
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

a:hover {
  text-decoration: underline;
}

a.disable {
  opacity: .5;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

/************* User Card  ******************/

/************* Media Query  ******************/

/************* Tablets 810  ******************/
@media screen and (max-width: 810px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100%;
    max-width: 570px;
    height: 100%;
    max-height: 648px;
  }

  header {
    margin-bottom: 10%;
  }

  .no-result {
    width: 100%;
  }

  /********* Avatar, Name, Date, Bio **************/

  .avatar {
    margin-top: -20%;
  }

  .name-date {
    display: flex;
    flex-direction: column;
    margin-left: -30%;
    margin-top: -10%;
  }

  .name {
    margin-bottom: 5%;
  }

  .date {
    margin-top: 5%;
    margin-left: -15%;
  }

  .username {
    margin-top: -20%;
    margin-left: 10%;
  }

  .biography-container {
    margin-top: 8%;
    margin-left: -37%;
    width: 100%;
    max-width: 493px;
  }

  /********* Stats, Links **************/

  .stats {
    margin-left: 0;
  }

  .links {
    margin-left: -10%;
  }

  .links > div div {
    font-size: 0.9rem;
    align-items: center;
  }

  .links > div div img {
    height: 20px;
    color: var(--button);
  }

  /************* Screens 500  ******************/

  @media screen and (max-width: 500px) {
    .wrapper {
      width: 80%;
    }

    .container {
      margin-top: -28%;
    }

    header {
      margin-bottom: 15%;
    }

    .search-gitHub {
      margin-bottom: 8%;
    }

    .search-input {
      font-size: 12px;
    }

    .no-result {
      font-size: 8px;
      width: 100%;
    }

    /********* Avatar, Name, Date, Bio **************/

    .avatar {
      margin-top: -15%;
    }

    .avatar img {
      margin-left: -31%;
      margin-top: -19%;
      width: 70px;
      height: 70px;
    }

    .name-date {
      display: flex;
      flex-direction: column;
      margin-bottom: 11%;
      margin-left: -5%;
    }

    .name {
      font-size: 1rem;
      font-weight: 700;
      width: 100%;
      margin-top: 0;
    }

    .date {
      transform: translateY(-80%);
      margin-top: 24%;
      margin-left: -65px;
    }

    .username {
      margin-top: -14%;
      margin-left: -3%;
    }

    .biography-container {
      margin-top: -5%;
      padding-top: 41%;
      margin-left: -95px;
      width: 100%;
      max-width: 279px;
    }

    .user-container-main {
      height: 100%;
      max-height: 517px;
      display: flex;
    }

    .username-container {
      margin-top: -44%;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      margin-left: -7px;
      width: 106%;
    }

    /********* Stats, Links **************/
    .stats {
      font-size: 0.8rem;
      text-align: center;
      padding: 10px 135px;
      width: 100%;
      max-width: 279px;
      margin-left: -28px;
    }

    .repository-container {
      font-size: 0.688rem;
      padding: 10px 30px;
    }

    .follower-container {
      font-size: 0.688rem;
      padding: 10px 0;
    }

    .following-container {
      font-size: 0.688rem;
      padding: 10px 30px;
    }

    .repository,
    .follower,
    .following {
      font-size: 1rem;
    }

    .links {
      font-size: 0.5rem;
      margin-left: -46px;
      margin-top: 18px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      width: 151%;
    }

    .links > div {
      margin-left: -170px;
      margin-top: -20px;
    }

    .links > div div {
      width: 110%;
      max-width: 150%;
    }

    .links > img {
      margin-right: 10px;
    }

    .not-available {
      opacity: 0.5;
    }

    .link-color {
      color: #f6f8ff;
    }

    .blog-container p a {
      text-decoration: none;
    }
  }

  /************* Phones 414  ******************/

  @media screen and (max-width: 414px) {
    .wrapper {
      width: 80%;
    }

    .container {
      margin-top: -28%;
    }

    header {
      margin-bottom: 15%;
    }

    .search-gitHub {
      margin-bottom: 8%;
    }

    .search-input {
      font-size: 12px;
    }

    .no-result {
      font-size: 8px;
      width: 100%;
    }

    /********* Avatar, Name, Date, Bio **************/
    .avatar {
      margin-top: -15%;
    }

    .avatar img {
      margin-left: -31%;
      margin-top: -19%;
      width: 70px;
      height: 70px;
    }

    .name-date {
      display: flex;
      flex-direction: column;
      margin-bottom: 11%;
      margin-left: -5%;
    }

    .name {
      font-size: 1rem;
      font-weight: 700;
      width: 100%;
      margin-top: 0;
    }

    .date {
      transform: translateY(-80%);
      margin-top: 24%;
      margin-left: -65px;
    }

    .username {
      margin-top: -14%;
      margin-left: -3%;
    }

    .biography-container {
      margin-top: -5%;
      padding-top: 41%;
      margin-left: -95px;
      width: 100%;
      max-width: 279px;
    }

    .user-container-main {
      height: 100%;
      max-height: 517px;
      display: flex;
    }

    .username-container {
      margin-top: -44%;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      margin-left: -7px;
      width: 106%;
    }

    /********* Stats, Links **************/
    .stats {
      font-size: 0.8rem;
      text-align: center;
      padding: 10px 135px;
      width: 100%;
      max-width: 279px;
      margin-left: -28px;
    }

    .repository-container {
      font-size: 0.688rem;
      padding: 10px 30px;
    }

    .follower-container {
      font-size: 0.688rem;
      padding: 10px 0;
    }

    .following-container {
      font-size: 0.688rem;
      padding: 10px 30px;
    }

    .repository,
    .follower,
    .following {
      font-size: 1rem;
    }

    .links {
      font-size: 0.5rem;
      margin-left: -46px;
      margin-top: 18px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      width: 151%;
    }

    .links > div {
      margin-left: -170px;
      margin-top: -20px;
    }

    .links > div div {
      width: 110%;
      max-width: 150%;
    }

    .links > img {
      margin-right: 10px;
    }

    .twitter {
      opacity: 0.5;
    }
  }

  /************* Phones 375  ******************/
  @media screen and (max-width: 375px) {
    header {
      margin-top: 24%;
    }

    .card {
      padding: 39px;
    }

    /********* Avatar, Name, Date, Bio **************/
    .avatar {
      margin-top: -5%;
    }

    .date {
      margin-left: -56px;
    }

    .biography-container {
      width: 136%;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary-blue: #0079ff;
      --primary-blue-hover: #60abff;
      --primary-text: #ffffff;
      --primary-text-neutral: #ffffff;
      --primary-text-bold: #ffffff;
      --primary-background: #141d2f;
      --primary-background-light: #1e2a47;
      --primary-text-error: #f74646;
      --primary-filter: initial;
      --mode-text: "LIGHT";
      --mode-image: url("/assets/icon-sun.svg");
      --primary-box-shadow: 0;
    }
  }
}
