@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root,:root.light {
  --primary-blue: #0079ff;
  --primary-blue-hover: #60abff;
  --primary-text: #4b6a9b;
  --primary-text-neutral: #697c9a;
  --primary-text-bold: #2b3442;
  --primary-background: #f6f8ff;
  --primary-background-light: #fefefe;
  --primary-text-error: #f74646;
  --primary-filter: brightness(100%);
  --mode-text:"DARK";
  --mode-image:url('/assets/icon-moon.svg');
  --primary-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

:root.dark {
    --primary-blue: #0079FF;
    --primary-blue-hover: #60ABFF;
    --primary-text: #FFFFFF;
    --primary-text-neutral: #FFFFFF;
    --primary-text-bold: #FFFFFF;
    --primary-background: #141d2f;
    --primary-background-light: #1E2A47;
    --primary-text-error: #F74646;
    --primary-filter: initial;
    --mode-text:"LIGHT";
    --mode-image:url('/assets/icon-sun.svg');
    --primary-box-shadow: 0;
    
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--primary-background);
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  line-height: 25px;
  position: relative;
}

.wrapper{
    max-width: 1920px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}

header {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 730px;
}

.logo {
    color: var(--primary-text);
}

.search-gitHub {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  width: 80%;
  padding: 2px;
  padding-left: 2px;
  padding-left: 45px;
  margin: 22px;
  border: 0;
  outline: 0;
  font-size: 18px;
  line-height: 25px;
  color: var(--primary-text-bold);
  background-color: var(--primary-background-color);
  background-image: url("/assets/icon-search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.color-light{
    background-image: var(--mode-image);
}

.color-light::after{
    content: var(--mode-text);
}

.search-btn {
  background-color: var(--primary-blue);
  color: var(--primary-text);
  width: 6.625rem;
  padding: 13px 24px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.search-btn:hover {
    background-color: var(--primary-blue-hover);
}
.no-result {
  display: none;
  width: 25%;
}

.visible{
    display:flex;
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: green;
    padding:10px;
}

.user-container-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-info{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 10px;
}

.avatar{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-size: 100% 100%;
}

.avatar img{
    height: 120px;
    width: 120px;
    border-radius: 100%;
}

.name-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats{
    padding:10px;
    display: flex;
    justify-content: space-around;
    background-color: orange;
    margin-left: 100px;
}

.links{
    margin-left: 100px;
    display: flex;
}

.links > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:10px;
    width: 50%;
}

.links > div div{
    display: flex;
    padding:10px;
    justify-content: flex-start;
    width: 100%;
}

@media (prefers-color-scheme:dark) {
    :root {
        --primary-blue: #0079FF;
        --primary-blue-hover: #60ABFF;
        --primary-text: #FFFFFF;
        --primary-text-neutral: #FFFFFF;
        --primary-text-bold: #FFFFFF;
        --primary-background: #141d2f;
        --primary-background-light: #1E2A47;
        --primary-text-error: #F74646;
        --primary-filter: initial;
        --mode-text:"LIGHT";
        --mode-image:url('/assets/icon-sun.svg');
        --primary-box-shadow: 0;
    }
}